<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/session" method="get">
        <div>
            <label for="">username </label>
            <input type="text" name="username">
        </div>
        <div>
          <label for="">password</label>
          <input type="password" name="password">
        </div>
        <div>
          <button >submit</button>
        </div>
        <div>
          <a href="/register">dang ky</a>
        </div>
    </form>
</body>

</html>
