<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>dang ky user</h2>
    <form action="/adduser" method = "get">
      <div>
        <label for="">username</label>
        <input type="text" name ="username" placeholder="nhap username">
      </div>
      <div>
        <label for="">password</label>
        <input type="password" name="password" placeholder="nhap password">
      </div>
      <div>
        <button type="submit">register</button>
      </div>
    </form>
</body>

</html>
